__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage
.DS_Store

data/*
!data/.gitkeep
!data/NYC/
!data/NYC/raw/
!data/NYC/raw/NYC.txt
artifacts/*
!artifacts/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
outputs/*
!outputs/.gitkeep

notebooks/.ipynb_checkpoints/
